.main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 6rem auto;
}

.section_tag {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 4rem;
  letter-spacing: 4px;
  color: rgba(22, 22, 22, 0.7);
}

.text {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.main_header {
  font-size: 3.75rem;
  display: flex;
  font-weight: bold;
  line-height: 5.5rem;
}

.tag_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tag_item {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 2.875rem;
  color: rgba(22, 22, 22, 0.3);
  font-weight: bold;
  margin-right: 1.5rem;
  padding: 6px;
}

.work_gallery {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  height: auto;
  margin: 48px 0;
}

.work {
  width: 100%;
  height: auto;
}

.work_gallery img:hover {
  filter: drop-shadow(30px 80px 200px rgba(0, 0, 0, 0.25));
  box-shadow: 2px -1px 50px rgb(0 0 0 / 0.4);
  transform: translateY(-20px);
}

.tag_list > button {
  background: transparent;
  border: none;
}

.tag_list > button:hover {
  cursor: pointer;
}

.tag_list > button:active {
  color: rgb(20, 52, 225);
}

.play_button {
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 17px solid #f96241;
  margin-top: 20px;
  margin-left: 27.5px;
}

.play {
  position: absolute;
  bottom: 3px;
  width: 65px;
  height: 65px;
  background-color: white;
  text-align: center;
  top: 50%;
  left: 50%;
  right: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
}

.section_tagline {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.tagline {
  font-size: 1.8752rem;
  color: rgba(22, 22, 22, 0.7);
  line-height: 2.5rem;
  margin: 2.5rem 0;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .text,
  .section_tagline {
    flex-direction: row;
    align-items: center;
  }

  .tagline {
    width: 80%;
  }
}
