*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: 62.5% 'Fira Sans';
}

:root {
  --default-bg-color: #f6f7f8;
  --default-bg-moving-gradient: linear-gradient(
    to right,
    rgb(238, 238, 238) 8%,
    rgb(222, 222, 222) 18%,
    rgb(238, 238, 238) 33%
  );
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  min-height: 100vh;
  color: black;
  background: #f4f4f4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  padding: 0;
  list-style-type: none;
}

nav {
  z-index: 10;
}

*:focus {
  outline: 3px solid orange;
}

.img {
  background: red;
}
